<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43637078259-qpfcl4eoqn5a40qsh749n97hp7ctt4s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43637078259-qpfcl4eoqn5a40qsh749n97hp7ctt4s4</string>
	<key>API_KEY</key>
	<string>AIzaSyD6UbTn4yAVI0yP6LQ7prnceU50PiHrqO8</string>
	<key>GCM_SENDER_ID</key>
	<string>43637078259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voiceCallZegocloud</string>
	<key>PROJECT_ID</key>
	<string>lafacil-7d1ed</string>
	<key>STORAGE_BUCKET</key>
	<string>lafacil-7d1ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43637078259:ios:46d99f0e8c64c9a1201f86</string>
</dict>
</plist>